body {
  padding-top: 50px;
}

.center {
  text-align: center;
}

div.right {
  text-align: right;
}

p.success {
  margin-bottom:20px;
  margin-top: 20px;
  font-weight: bold;
  color: #0305bbf5;
}

p.error {
  font-weight: bold;
  color: #f51b1bde;
}